@model Yacht
@{
    ViewData["Title"] = "Details";
}
<nav aria-label="breadcrumb"></nav>



<div class="row">
    <div class="col-sm-12 col-md-4">   
        <img class="img-fluid" src="@Model.Image" alt="@Model.Name"/>
    </div>

    <div class="col-sm-12 col-md-8">     
        <h2>@Model.Name</h2>
   
    <p>@Model.Description</p>

    <h4>@(Model.Price.HasValue ? Model.Price.Value.ToString("C") : "No Price")</h4>
    
    
    </div>
</div>



