@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Yacht
@{
    ViewData["Title"] = "Details";
}
<nav aria-label="breadcrumb"></nav>



<div class="row">
    <div class="col-sm-12 col-md-4">   
        <img class="img-fluid mt-4" src="@Model.Image" alt="@Model.Name"/>
    </div>

    <div class="col-sm-12 col-md-8">
        <h2>@Model.Name</h2>
        <h5> @Model.Description</h5>
       
        <div>
            <h4>KEY FEATURES:</h4>
            <p>Year: @Model.Year</p>

            <p>Size: @Model.Size feet</p>
            <p>
                Air Condition: @if (Model.AirCond == true)
             {
            @:Yes
             }
            else
            {
            @:no
            }
            </p>



            <p>Number of Cabins: @Model.Cabins</p>
        </div>
        
        <h4>PRICES:</h4>
        <h5>
            High Season (Dec 16 - Jan 1
            Feb 1 - Mar 31):
        </h5> @(Model.PriceHighSeason.HasValue ? Model.PriceHighSeason.Value.ToString("C") : "No Price")
        
        <h5>
            Off Season (Jul 10 - Nov 5):
        </h5> @(Model.PriceOffSeason.HasValue ? Model.PriceOffSeason.Value.ToString("C") : "No Price")
        
        </div>


    </div>
</div>



