@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Yacht
@{
    ViewData["Title"] = "Details";
}
<nav aria-label="breadcrumb"></nav>



<div class="row">
    <div class="col-sm-12 col-md-4">   
        <img class="img-fluid mt-4" src="@Model.Image" alt="@Model.Name"/>
    </div>

    <div class="col-sm-12 col-md-8">
        <h2>@Model.Name</h2>
        <p> @Model.Description</p>

        <div>
            <h4>KEY FEATURES:</h4>
            <ul>

                <li>Year: @Model.Year</li>

                <li>Size: @Model.Size feet</li>
                <li>
                    Air Condition:
                    @if (Model.AirCond == true)
                {
                    @:Yes
            }
            else
            {
                @:no
}
                </li>



                <li>Number of Cabins: @Model.Cabins</li>
            </ul>
        </div>
        <div class="yacht-pricing ">

            <div class="first inline ">
                <h5>
                    High Season
                </h5>
                <p>
                    Dec 16 - Jan 1
                    <br />
                    Feb 1 - Mar 31
                </p>
                <p class="price">
                    @(Model.PriceHighSeason.HasValue ? Model.PriceHighSeason.Value.ToString("C") : "No Price")
                </p>
            </div>
            <div class="one-fourth inline">
                <h5>
                    Off Season
                </h5>
                <p>
                    Jul 10 - Nov 5
                    <br />
                    May 1 - Jul 9
                </p>
                <p class="price">
                    @(Model.PriceOffSeason.HasValue ? Model.PriceOffSeason.Value.ToString("C") : "No Price")
                </p>
            </div>
        </div>
        
        

        <div class="input-group mb-3 w-25">
            <div class="input-group-prepend">
                <i class="input-group-text far fa-calendar-alt"></i>
            </div>
            <input type="text" class="form-control"  data-provide="datepicker">
        </div>
        

        <div class="mt-2">
            <form method="post" asp-action="Book">
                <input asp-for="ID" type="hidden" />
                <input type="submit" class="btn btn-primary" value="Book" />
            </form>
        </div>
    </div>
    
   
    
    </div>





@section Scripts
{

}
