@model IEnumerable<Yacht>
@{
    ViewData["Title"] = "Index";
}



<div class="row">
    @foreach (var yacht in Model)
    {
    <div class="col-sm-12 col-md-6">
        <h3>@yacht.Name</h3>
        <img class="img-fluid" src="@yacht.Image" alt="@yacht.Name" />
        <p>@yacht.Year</p> 
        <p>@yacht.Description</p>

       <div>
        <h4>Weekly rates</h4>  @(yacht.PriceHighSeason.HasValue ? yacht.PriceHighSeason.Value.ToString("C") : "No Price")  -  @(yacht.PriceOffSeason.HasValue ? yacht.PriceOffSeason.Value.ToString("C") : "No Price")
       </div>
        

        @*Option 1: Use Razor in your HREF attribute*@
        @*<a class="btn btn-primary" href="/Yacht/Details/@yacht.ID">View this yacht!</a>*@
        @*Option 2: Use Razor Tag Helpers to GENERATE the href *@
        <a class="btn btn-primary" asp-controller="Yacht" asp-action="Details" asp-route-id="@yacht.ID">View This Yacht!</a>
        <form method="post" asp-action="Book">
            <input name="ID" value="@yacht.ID" type="hidden" />
            <input type="submit" class="btn btn-primary" value="Book" />
        </form>
    </div>
    }

</div>

