@model IEnumerable<Yacht>
@{
    ViewData["Title"] = "Index";
}

<h2>showing @Model.Count() Products</h2>

<div class="row">
    @foreach (var yacht in Model)
    {
    <div class="col-sm-12 col-md-6">
        <h3>@yacht.Name</h3>
        <img class="img-fluid" src="@yacht.Image" alt="@yacht.Name" />
        <p>@yacht.Description</p>
        <p>@yacht.Size</p>
        <h4>@(yacht.Price.HasValue ? yacht.Price.Value.ToString("C") : "No Price")</h4>
        @*Option 1: Use Razor in your HREF attribute*@
        <a class="btn btn-primary" href="/Yacht/Details/@yacht.ID">View this product</a>
        @*Option 2: Use Razor Tag Helpers to GENERATE the href *@
        @*<a class="btn btn-primary" asp-controller="Yacht" asp-action="Details" asp-route-id="@yacht.ID">View This Product</a>*@

    </div>
    }

</div>

