
@model Cart
@{
    ViewData["Title"] = "Index";
}

<h2>Cart</h2>
@if (Model.CartItems.Count == 0)
{
    <p>You have no items in your cart!</p>
    <a asp-action="Index" asp-controller="Home">Go Home</a>
}
else
{
    <div>
        <table class="table table-striped">
            @foreach (var item in Model.CartItems)
            {
            <tr>
                <td>@item.Yacht.Name</td>
                <td>@item.Yacht.Description</td>
                <td><img src="@item.Yacht.Image" class="img-fluid" /></td>
                <td>@((item.Yacht.PriceHighSeason ?? 0).ToString("c"))</td>
                <td>@item.DatesFrom</td>
                <td>@item.DatesTo</td>
                @* <td>@((item.Quantity * (item.Product.Price ?? 0)).ToString("c"))</td>*@
                <td>
                    <form method="post" asp-action="remove">
                        <input type="hidden" name="id" value="@item.ID" />
                        <input type="submit" value="Remove" class="btn btn-primary" />
                    </form>

                </td>

            </tr>

               

            }
           
    
        </table>
        <form method="post" asp-action="CheckOut">
           
            <input type="submit" value="CheckOut" class="btn btn-primary" />
        </form>
       
    </div>
}

